[submodule "Cadastro-de-Estudantes"]
	path = Cadastro-de-Estudantes
	url = https://github.com/Herebers/Cadastro-de-Estudantes.git
[submodule "E-cookbook"]
	path = E-cookbook
	url = https://github.com/Herebers/E-cookbook.git
[submodule "register_employees"]
	path = register_employees
	url = https://github.com/Herebers/register_employees.git
